@use "../../styles/variables" as *;

.scroll-float-text {
	display: inline-block;
	font-size: clamp(3.5rem, 8vw, 8rem); // Tamaño grande para que impacte
	font-weight: 900;
	text-align: center;
	line-height: 1.2;
	color: $negro;
	margin: 0;
	overflow: hidden; // Vital para que las letras vengan de "afuera" de su caja
}

.char {
	display: inline-block;
	will-change: transform, opacity; // Optimización de rendimiento
}
