@use "../../styles/variables" as *;

.home {
	background-color: $blanco;
	min-height: 100vh;
	box-sizing: border-box;

	&__hero-frame {
		margin: 1rem;
		width: calc(100% - 2rem);
		height: calc(100vh - 2rem);
		position: relative;
		border-radius: 16px;
		overflow: hidden;
		border: 1px solid rgba($negro, 0.05);
		background-color: #ecf0ec;
		// Dentro de .home__hero-frame
		@media (max-width: 768px) {
			margin: 0.5rem;
			width: calc(100% - 1rem);
		}
	}

	&__footer-area {
		width: 100%;
		background-color: #1c1c1e;
		display: flex;
		flex-direction: column;

		// MAGIA: Creamos una capa superior. Al hacer scroll, este bloque
		// oscuro pasará por encima del GradualBlur, anulando la neblina.
		position: relative;
		z-index: 999;
	}
}
