@use "../../styles/variables" as *;

.home {
	background-color: $blanco;
	min-height: 100vh;
	padding: 1rem;
	box-sizing: border-box;

	&__hero-frame {
		position: relative; // Volvemos a relative
		width: 100%;
		height: calc(100vh - 2rem);
		border-radius: 16px;
		overflow: hidden;
		border: 1px solid rgba($negro, 0.05);
		background-color: #ecf0ec;
	}
}
