@use '../../styles/variables' as *;

.mood-print {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  // Aquí podemos dejar un fondo general si lo deseas,
  // pero ya no interferirá con el hero ni el footer
  background-color: ecf0ec;

  // --- ZONA DEL FOOTER OSCURO ---
  &__footer-area {
    width: 100%;
    background-color: #1c1c1e; // Igual que en Home
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 999;
  }
}
